CONNECTION_STRING=mongodb+srv://<conn_str>
DATA_PATH=~/data/mongodb/jdsports

# Location of the MongoDB Import / Export tools
MONGOIMPORT=/usr/local/bin/mongoimport
MONGOEXPORT=/usr/local/bin/mongoexport

